li {
  list-style: none;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

button {
  width: 10rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.decrement {
  width: 5em;
  margin-right: 20px;
}

.increment {
  width: 5em;
  margin-left: 20px;
}